doctype html
html(lang='en')
  include ../layout.pug
  block styles
    link(rel="stylesheet" type="text/css" href="/style.css")  
    link(rel="stylesheet" type="text/css" href="/navbar.css")

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/stories/new">Create</a>
  <a href="/stories">Stories</a>
</div>
h1 fill out the fields 
br
.
form(action=`/stories/${story.id}` method="post")
  a(href=`/stories/getRandom/${story.form.length}/${story.id}`)  Random
  a(href=`/stories/clear/${story.id}` class="clear") Clear
  div(class="fields")
    each field, index in story.form
      br
      div(class="field")
        if randomWords
          label(for=field) #{field}:
          input(type="text" name=field id=field required value=`${randomWords[index]}`)
        else
          label(for=field) #{field}:
          input(type="text" name=field id=field required class="initial")

  input(type="submit" value="submit")
